div.date {
  color: black;
  opacity: 0.5;
}

div.location {
  color: black;
  opacity: 0.7;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
}

/*  no difference when trying font-weight: thin */
div.tempC {
  font-size: 61px;
  color: black;
  opacity: 0.9;
}

.widget {
    background-color: #fcfdfd;
    width: 440px;
    height: 120px;
    text-align: left;
    border-radius: 9px;
    padding: 10px;
}

div.panel {
  display: inline-block;
}

div.icontemp {
  display: flex;
  align-items: center;
}

div.right-panel {
  position: absolute;
  float: left;
  top: 0;
  margin-top: 35px;
  padding-left: 50px;
}
